/* トップページでスクロールできないように */
/* html, body{
    overflow: hidden;
} */

/* フォントの変更 */
@font-face{
    font-family: 'irohamaru';
    src: url('/MODI_irohamaru') format('woff');
}
body{
    font-family: 'irohamaru';
}
/* 表紙画像の装飾 */
.Hyousi{
    margin-right: 30px;
    width: 723px;
    height: 1020px;
    float: left;
    overflow: hidden;
}

/* 目次の装飾 */
.mokuji ul{
    display: flex;
    width: 969px;
    list-style: none outside;
    flex-wrap: wrap;
}
.chapters li{ /*リスト基本設定*/
    border: solid 1px #000000;
    float: left;
    width: 50%;
    font-size: 1.25em;
    list-style: none;
    line-height: 1,125;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
.chapters a{
    font-weight: bold;
    margin-top: 0.33em;
    text-decoration: none;
}
.mokuji{
    height: 100vh;
    text-align: center;
}

/* 文字を真ん中に */
.center{
    text-align: center;
}
h1.center{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 300%;
}
p.center{
    padding-bottom: 15px;
    font-size: 150%;
}

/* ページ分割 */
.column{
    height: 100vh;
    width: 100%;
}
/* 縦割りをレスポンシブに */
@media all and (min-width: 500px){
    .wrapper{
        display: flex;
    }
}