
/* フォントの変更 */
/* @font-face{
    font-family: 'irohamaru';
    src: url('MODI_irohamaru.woff') format('woff');
} */
@font-face {
    font-family: "irohamaru";
    src: url("MODI_irohamaru.woff") format("woff"),
    url("MODI_irohamaru.ttf") format("truetype");
}
body{
    font-family: 'irohamaru';
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
}
/* 表紙画像の装飾 */
.Hyousi{
    text-align: center;
    margin: 0;
    width: 100%;
}
.Urahyousi{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.ura{
    margin: 0 0 10% 0;
}

/* 目次の装飾 */
.mokuji{
    font-size: 150%;
    color: #448ccb;
    background: #ecf3fa;
    border: dashed 2px #adcce8;
    border-radius: 20px;
    max-width: 900px;
    margin: auto;
    padding: 3%;
    /* text-align: center; */
}
.mokuji2 a{
    color: #448ccb;
    text-decoration: none;
}
.topmokuji{
    text-align: left;
    padding: 0;
    margin: 3% 0 5% 0;
}
.big{
    margin: 0;
}
.middle{
    margin: 0 0 2% 0;
}
.small{
    margin: 0;
}
.topmokuji a{
    padding: 4.5px 0 4.5px 0;
    font-weight: bold;
    max-width: 450px;
    margin: 0;
    display: block;
}
.idlemokuji{
    padding: 10px;
    list-style: none;
    margin: 5% 0 0 0;
}
.idlemokuji a{
    line-height: 45px;
    font-weight: bold;
    max-width: 450px;
    margin: 0;
    display: block;
}
ul{
    padding: 10px;
    list-style: none;
}
ul li{
    line-height: 45px;
    font-weight: bold;
    max-width: 450px;
    margin: 0;
}


/* メイン記事の装飾 */
.main{
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
    padding-top: 50px;
    font-size: 120%;
}

h3.name{
    padding: 0;
    font-size: 200%;
    width: 100%;
}

.kiji{
    margin: 0 0 2% 0;
}

.okimoti{
    padding: 0 3% 0 3%;
}

/* お気持ち表明の記事全体の装飾 */
.all{
    border-radius: 20px;
    margin: 8% 0 10% 0;
    padding: 0 2% 0 2%;
}

/* 真乃ちゃんの全体の装飾 */
.sakuragi{
    border: dashed 2px #ffbad6;
    /* color: #ffbad6; */
    background-color: #f8f0f4;
}
.sakuragi>.kiji{
    border-bottom: dashed 2px #ffbad6;
}

.kazano{/* 灯織ちゃん */
    border: dashed 2px #144384;
    /* color: #144384; */
    background-color: #ccd9ec;
}
.kazano>.kiji{
    border-bottom: dashed 2px #144384;
}

/* めぐるちゃん */
.meguru{
    border: dashed 2px #ffe012;
    background-color: #f8f4d6;
}
.meguru>.kiji{
    border-bottom:dashed 2px #ffe012;
}

/* 恋鐘ちゃん */
.kogane{
    border: dashed 2px #f84cad;
    background-color: #faeaf3;
}
.kogane>.kiji{
    border-bottom: dashed 2px #f84cad;
}

/* まみみ */
.mamimi{
    border: dashed 2px #a846fb;
    background-color: #eeddfc;
}
.mamimi>.kiji{
    border-bottom: dashed 2px #a846fb;
}

/* さくやさん */
.sakuya{
    border: dashed 2px #006047;
    background-color: #cffaee;
}
.sakuya>.kiji{
    border-bottom: dashed 2px #006047;
}

/* みつみね */
.mitumine{
    border: dashed 2px #3b91c4;
    background-color: #c5e3f5;
}
.mitumine>.kiji{
    border-bottom: dashed 2px #3b91c4;
}

/* 霧子ちゃん */
.kiriko{
    border: dashed 2px #bce3f8;
    background-color: #e4f0f8;
}
.kiriko>.kiji{
    border-bottom: dashed 2px #a2daf8;
}

/* 果穂ちゃん */
.kaho{
    border: dashed 2px #e5461c;
    background-color: #fcece8;
}
.kaho>.kiji{
    border-bottom: dashed 2px #e5461c;
}

/* ちょこせんぱい */
.tyoko{
    border: dashed 2px #f93b90;
    background-color: #fdeaf3;
}
.tyoko>.kiji{
    border-bottom: dashed 2px #f93b90;
}

/* 樹里ちゃん */
.jyuri{
    border: dashed 2px #ffc602;
    background-color: #fdf9ec;
}
.jyuri>.kiji{
    border-bottom: dashed 2px #ffc602;
}

/* りんぜちゃん */
.rinze{
    border: dashed 2px #89c3eb;
    background-color: #dff2ff;
}
.rinze>.kiji{
    border-bottom: dashed 2px #89c3eb;
}

/* なつはさん */
.natuha{
    border: dashed 2px #90e667;
    background-color: #e9fde0;
}
.natuha>.kiji{
    border-bottom: dashed 2px #90e667;
}

/* あまなちゃん */
.amana{
    border: dashed 2px #f54275;
    background-color: #faedf0;
}
.amana>.kiji{
    border-bottom: dashed 2px #f54275;
}

/* てんかちゃん */
.tenka{
    border: dashed 2px #e75bec;
    background-color: #fbe4fc;
}
.tenka>.kiji{
    border-bottom: dashed 2px #e75bec;
}

/* 千雪さん */
.tiyuki{
    border: dashed 2px #fad3d3;
    background-color: #f8e6e6;
}
.tiyuki>.kiji{
    border-bottom: dashed 2px #f5e7e7;
}

/* あさひちゃん */
.asahi{
    border: dashed 2px #f30100;
    background-color: #ffe8e8;
}
.asahi>.kiji{
    border-bottom: dashed 2px #f30100;
}

/* ふゆちゃん */
.huyuko{
    border: dashed 2px #5ce626;
    background-color: #edffe6;
}
.huyuko>.kiji{
    border-bottom: dashed 2px #5ce626;
}

/* あいちゃん */
.ai{
    border: dashed 2px #ff00ff;
    background-color: #fce2fc;
}
.ai>.kiji{
    border-bottom: dashed 2px #ff00ff;
}

/* 透ちゃん */
.touru{
    border: dashed 2px #50d0d0;
    background-color: #dbf5f5;
}
.touru>.kiji{
    border-bottom: dashed 2px #50d0d0;
}

/* まどかちゃん */
.madoka{
    border: dashed 2px #be1e3e;
    background-color: #f7eaec;
}
.madoka>.kiji{
    border-bottom: dashed 2px #be1e3e;
}

/* 小糸ちゃん */
.koito{
    border: dashed 2px #7967c3;
    background-color: #ece9fc;
}
.koito>.kiji{
    border-bottom: dashed 2px #7967c3;
}

/* ひなちゃん */
.hina{
    border: dashed 2px #ffc639;
    background-color: #fdf7e8;
}
.hina>.kiji{
    border-bottom: dashed 2px #ffc639;
}

/* 283 */
.p283p{
    border: dashed 2px #8adfff;
    background-color: #eaf9ff;
}
.p283p>.kiji{
    border-bottom: dashed 2px #8adfff;
}

/* プロデューサー */
.pro{
    border: dashed 2px #c5a40e;
    background-color: #fdfdeb;
}
.pro>.kiji{
    border-bottom: dashed 2px #c5a40e;
}

/* はづきさん */
.hazuki{
    border: dashed 2px #7ea8f7;
    background-color: #e8effd;
}
.hazuki>.kiji{
    border-bottom: dashed 2px #7ea8f7;
}

/* 社長 */
.syatyou{
    border: dashed 2px #00008b;
    background-color: #dadaf0;
}
.syatyou>.kiji{
    border-bottom: dashed 2px #00008b;
}

/* Bonus content */
.bonus{
    border: dashed 2px #d1bb58;
    background-color: #f8f4e3;
}
.bonus>.kiji{
    border-bottom: dashed 2px #d1bb58;
}

/* あとがき */
.atogaki{
    border: dashed 2px #7058a3;
    background-color: #ede9f8;
}
.atogaki>.kiji{
    border-bottom: dashed 2px #7058a3;
}

/* お気持ち中の写真の装飾 */
.mituimg, .tiyukiimg, .asahiimg, .mizugiimg, .kirikoimg, .mamimituimg, .hioriimg{
    width: 60%;
    height: 60%;
}

/* 投稿者名の装飾 */
.id{
    font-size: 130%;
    width: 100%;
}

/* アイドルメンバーの目次の装飾 */

/* アイドル目次の全体の装飾 */
.idlelist1, .idlelist2, .idlelist3, .idlelist4, .idlelist5, .idlelist6, .idlelist7, .idlelist8{
    border-radius: 20px;
    max-width: 900px;
    margin: auto;
    padding: 3%;
}
.idlelist1 a, .idlelist2 a, .idlelist3 a, .idlelist4 a, .idlelist5 a, .idlelist6 a, .idlelist7 a, .idlelist8 a{
    text-decoration: none;
}
.idlelist1>.idlemokuji, .idlelist2>.idlemokuji, .idlelist3>.idlemokuji, .idlelist4>.idlemokuji, .idlelist5>.idlemokuji, .idlelist6>.idlemokuji, .idlelist7>.idlemokuji, .idlelist8>.idlemokuji{
    font-size: 150%;
}
.idlelist1>.midasi, .idlelist2>.midasi, .idlelist3>.midasi, .idlelist4>.midasi, .idlelist5>.midasi, .idlelist6>.midasi, .idlelist7>.midasi, .idlelist8>.midasi{
    font-size: 300%;
    margin: 0;
}

/* イルミネの目次 */
.idlelist1{
    background: #fdf7ed;
    color: #ffa700;
    border: dashed 2px #ffa700;
}
.idlelist1 a{
    color: #ffa700;
}

/* Anticaの目次 */
.idlelist2{
    background: #ebd7f0;
    color: #853998;
    border: dashed 2px #853998;
}
.idlelist2 a{
    color: #853998;
}

/* 放課後クライマックスの目次 */
.idlelist3{
    background: #f1d4c0;
    color: #fa8333;
    border: dashed 2px #fa8333;
}
.idlelist3 a{
    color: #fa8333;
}

/* アルストロメリアの目次 */
.idlelist4{
    background: #f3ccdc;
    color: #e43b80;
    border: dashed 2px #e43b80;
}
.idlelist4 a{
    color: #e43b80;
}

/* ストレイライトの目次 */
.idlelist5{
    background: #f3d2d2;
    color: #e71212;
    border: dashed 2px #e71212;
}
.idlelist5 a{
    color: #e71212;
}

/* ノクチルの目次 */
.idlelist6{
    background: #d1ddf0;
    color: #1e50a2;
    border: dashed 2px #1e50a2;
}
.idlelist6 a{
    color: #1e50a2;
}

/* 283プロの目次 */
.idlelist7{
    background: #e1fff7;
    color: #52c2a2;
    border: dashed 2px #52c2a2;
}
.idlelist7 a{
    color: #52c2a2;
}

/* And moreの装飾 */
.idlelist8{
    background: #f5fce7;
    color: #aad64c;
    border: dashed 2px #aad64c;
}
.idlelist8 a{
    color: #aad64c;
}
/* Footerの装飾 */
footer{
    padding: 1.5% 0 1.5% 0;
    margin:3% 0 0 0;
    text-align: center;
    background-color: #ecf3fa;
}

small{
    text-align: center;
    font-size: 110%;
    color: #448ccb;
}

.credit{
    padding: 2% 2% 2% 2%;
}
.credit>div{
    margin: 3% 0 3% 0;
}

/* レスポンシブCSS */
/* スマホ用 */
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .wrapper{
        max-width: 900px;
        margin: auto;
    }
    .main{
        font-size: 100%;
    }
    p{
        line-height:35px;
    }
    .mokuji{
        font-size: 100%;
    }
    .modoru1{
        font-size: 110%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru1::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru2{
        font-size: 110%;
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru2::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru1 a,.modoru2 a{
        color: #448ccb;
        text-decoration: none;
    }

    .houkago>.midasi, .irumine>.midasi, .arusuto>.midasi, .p283p>.midasi{
        font-size: 90%;
    }

    .credit{
        font-size: 90%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
        text-align: center;
        max-width: 900px;
        margin: auto;
        width: 100%;
    }
    .note{
        font-size: 80%;
    }
    .note a{
        text-decoration: none;
    }
}

/* タブレット用 */
@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
    .wrapper{
        max-width: 900px;
        margin: auto;
    }
    .main{
        font-size: 100%;
    }
        p{
        line-height:40px;
    }
    .mokuji{
        font-size: 100%;
    }
    .modoru1{
        font-size: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru1::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru2{
        font-size: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru2::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru1 a,.modoru2 a{
        color: #448ccb;
        text-decoration: none;
    }
    .credit{
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
        text-align: center;
        max-width: 900px;
        margin: auto;
        width: 100%;
    }
    .note{
        font-size: 80%;
    }
    .note a{
        text-decoration: none;
    }
}
/* PC用 */
@media screen and (min-width: 767px){
    .wrapper{
        display: flex;
        padding: 5% 5% 0 5%;
        max-width: 1500px;
        /* margin: auto; */
    }
    .wrapper img{
        width: 50%;
        margin: auto;
        min-width: 500px;
        border-radius: 20px;
    }
    .mokuji{
        width:65%;
        margin-left: 5%;
    }
    p{
        line-height:40px;
    }
    .modoru1{
        font-size: 150%;
        position: fixed;
        bottom: 1%;
        right: 1%;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru1::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru2{
        font-size: 150%;
        position: fixed;
        bottom: 1%;
        left: 1%;
        padding: 1%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
    }
    .modoru2::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.5em 0 0;
        border: 10px solid transparent;
        border-top: 0 solid transparent;
        border-bottom: 16px solid #448ccb;
    }
    .modoru1 a,.modoru2 a{
        color: #448ccb;
        text-decoration: none;
    }
    .credit{
        text-align: center;
        font-size: 110%;
        color: #448ccb;
        background: #ecf3fa;
        border: dashed 2px #adcce8;
        border-radius: 20px;
        max-width: 900px;
        margin: auto;
        width: 100%;
    }
    .note{
        font-size: 70%;
    }
    .note a{
        text-decoration: none;
    }
}
