
/* フォントの変更 */
@font-face{
    font-family: 'irohamaru';
    src: url('/MODI_irohamaru.woff') format('woff');
}
body{
    font-family: 'irohamaru';
}
/* 表紙画像の装飾 */
.Hyousi{
    text-align: center;
    margin: 0;
    width: 100%;
}
@media screen and (min-width: 767px){
    .Hyousi{
        width: auto;
    }
} 

/* 目次の装飾 */
.mokuji{
    font-size: 150%;
    color: #448ccb;
    background: #ecf3fa;
    border: dashed 2px #adcce8;
    border-radius: 20px;
    max-width: 900px;
    margin: auto;
    padding: 3%;
    /* text-align: center; */
}
.mokuji2 a{
    color: #448ccb;
    text-decoration: none;
}
.topmokuji{
    text-align: left;
    padding: 0;
    margin: 3% 0 5% 0;
}
.big{
    margin: 0;
}
.middle{
    margin: 0 0 2% 0;
}
.small{
    margin: 0;
}
ul{
    padding: 10px;
    list-style: none;
}
ul li{
    line-height: 45px;
    font-weight: bold;
    max-width: 450px;
    margin: 0;
}

/* メイン記事の装飾 */
.main{
    max-width: 900px;
    margin: auto;
}
/* h2.midasi{
    margin-top: 5%;
    font-size: 300%;
    text-align: center;
    width: 100%;
} */

h3.name{
    padding: 0;
    font-size: 200%;
    width: 100%;
}

.kiji{
    margin: 0 0 2% 0;
}

.main{
    margin-top: 100px;
    padding-top: 50px;
}

p{
    line-height:35px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.okimoti{
    padding: 0 3% 0 3%;
}

.sakuragi{/* 真乃ちゃんの全体の装飾 */
    border: dashed 2px #ffbad6;
    background-color: #f8f0f4;
    border-radius: 20px;
    margin: 2% 0 0 0;
    padding: 0 2% 0 2%;
}
.sakuragi>.kiji{
    border-bottom: dashed 2px #ffbad6;
}

.kazano{/* 灯織ちゃん */
    border: dashed 2px #144384;
    background-color: #ccd9ec;
    border-radius: 20px;
    margin: 2% 0 0 0;
    padding: 0 2% 0 2%;
}
.kazano>.kiji{
    border-bottom: dashed 2px #144384;
}

.mituimg, .tiyukiimg, .asahiimg, .mizugiimg{
    width: 60%;
    height: 60%;
}

.id{
    font-size: 130%;
    width: 100%;
}

.modoru1{
    font-size: 150%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1%;
    color: #448ccb;
    background: #ecf3fa;
    border: dashed 2px #adcce8;
    border-radius: 20px;
}
.modoru1::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.5em 0 0;
    border: 10px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 16px solid #448ccb;
}
.modoru2{
    font-size: 150%;
    position: fixed;
    bottom: 8%;
    right: 0;
    padding: 1%;
    color: #448ccb;
    background: #ecf3fa;
    border: dashed 2px #adcce8;
    border-radius: 20px;
}
.modoru2::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.5em 0 0;
    border: 10px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 16px solid #448ccb;
}
.modoru1 a,.modoru2 a{
    color: #448ccb;
    text-decoration: none;
}
/* アイドルメンバーの目次の装飾 */

/* イルミネの目次 */
.idlelist{
    background: #f0ede8;
    color: #ffa700;
    border: dashed 2px #ffa700;
    border-radius: 20px;
    max-width: 900px;
    margin: auto;
    padding: 3%;
}
.idlelist a{
    color: #ffa700;
    text-decoration: none;
}
div>.irumine>.idlelist>ul{
    font-size: 150%;
}

div>.irumine>.idlelist>.midasi{
    font-size: 300%;
    margin: 0;
}
